.reason-list {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
}

.smart-hub--reason-list-container {
  border: 3px solid #0166ab;
  width: 509px;
  height: 409px;
  min-width: 509px;
  min-height: 409px;
  max-width: 509px;
  max-height: 409px;
}

.reason-list .usa-table-container--scrollable {
  max-height: 370px;
  min-height: 370px;
  max-width: 480px;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0px;
}

.reason-list .usa-table {
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.reason-list .usa-table caption {
  margin-bottom: 26px;
}

.reason-list .usa-table tr {
  background-color: #fff;
  font-size: 16px;
  border-bottom: 0px;
  font-weight: bold;
}

.reason-list .usa-table th {
  border-bottom: 0px;
  text-align: left;
  padding: 0px;
  font-weight: bold;
}

.reason-list .usa-table th:nth-child(2) {
  padding-left: 20px;
}

.reason-list .usa-table td {
  border: none;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  font-size: 18px;
}

.reason-list .usa-table td:first-child {
  width: 320px;
  max-width: 320px;
  min-width: 320px;
  word-wrap: break-word;
  white-space: normal;
}

.reason-list .usa-table td:nth-child(2) {
  padding-left: 20px;
}

.reason-list .usa-table p:first-child {
  max-width: 320px;
  margin: 0px;
  padding: 0px;
}

.smart-hub--reason-list-heading {
  font-size: 20px;
  color: #21272d;
  font-weight: bold;
  line-height: 24px;
}

.reason-list .padding-5 {
  padding-left: 24px;
  padding-top: 28px;
  padding-right: 6px;
}